/* ================= ROOT ================= */
.root {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* ================= HEADER ================= */
.header {
    -fx-background-color: #022E69;
    -fx-padding: 20;
}

.header-title {
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* ================= BUTTONS ================= */
.primary-button {
    -fx-background-color: #145EB7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 15 8 15;
}

.primary-button:hover {
    -fx-background-color: #3FA9F5;
}

/* ================= FLOWPANE ================= */
.flow-container {
    -fx-padding: 20;
}

/* ================= FORMATION CARD ================= */
.card {
    -fx-background-color: white;
    -fx-border-color: #D0D0D0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-pref-width: 250;
}

.card-title {
    -fx-text-fill: #022E69;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.card-description {
    -fx-text-fill: #555555;
}


.delete-button {
    -fx-background-color: transparent;
    -fx-border-color: #FF4D4D;
    -fx-text-fill: #FF4D4D;
    -fx-border-radius: 8;
}

.delete-button:hover {
    -fx-background-color: #FF4D4D;
    -fx-text-fill: white;
}