parameters:
    level: 8

    paths:
        - ../../../src/Security
        - ../../../src/Service/Security

    excludePaths:
        analyse:
            - ../../../vendor

    treatPhpDocTypesAsCertain: false